


.ball {
  display: inline-block;
  width: 80px;
  height: 80px;
  background: linear-gradient(90deg, rgba(255,186,179,1) 0%, rgba(242,239,51,1) 100%);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;;
  border-radius: 50%;
  line-height: 80px;
  font-size: 50px;
  margin: 5px;
  text-align: center;
}

